@import "tailwindcss";
body{
  background-color: black;
  overflow-x: hidden;
}
@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.bubble-hover {
  transition: transform 0.3s ease;
}

.bubble-hover:hover {
  animation: bubble 0.4s ease-in-out;
}
